# Compile output
/build/
/docs/build
/docs/.venv
/*.o
/fk_ver
/fk_ver.bak

# IDE & LSP
/.kdev4/
/.vscode/
/*.user
*-swp
/*.kdev4
/.cache/
/tags
# /.luarc.json
/.qmllint.ini

# file produced by game
*.lock
/HeroKill
/HeroKill.exe
/mymod
/recording
HeroKill-wrap.cxx
/server/*
!/server/init.sql
!/server/gamedb_init.sql
/client/client.db
/client/autosave_recording
/HeroKill.client.config.json
/HeroKill.server.config.json
/HeroKill.server.error.log
/HeroKill.server.info.log
/HeroKill.server.log
/flist.txt
/server-list.json
/resource_pak

# windeployqt
/bearer/
/iconengines/
/imageformats/
/platforms/
/Qt/
/QtGraphicalEffects/
/QtQuick/
/QtQuick.2/
/QtQml/
/QtMultimedia/
/multimedia/
/qmltooling/
/sqldrivers/
/styles/
/tls/
/translations/
/*.dll
/*.bat
/.idea/.gitignore
/.idea/dataSources.xml

/HeroKill.iml
/index.html
/.idea/json_assistant_history.xml
/.idea/material_theme_project_new.xml
/.idea/misc.xml
/.idea/modules.xml
/.claude/settings.local.json
/.idea/vcs.xml
/.idea/**
.idea
.claude
/crash.log
/hero-game.iml
.ace-tool/
./packages/herokill-core/**
/hero-kill-game-client.iml
/keystore.jks
