#!/usr/bin/env xdg-open
[Desktop Entry]
Name=HeroKill
Name[zh_CN]=英雄杀
Comment=A Bang!-like card game
Comment[zh_CN]=一款玩法类似Bang!的桌游
Icon=HeroKill
Exec=HeroKill
Type=Application
Terminal=false
Categories=Game
